Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-pr: ((((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-pr.yaml)) or (any of: Dockerfile)) or (any of: go.mod)) or (any of: go.sum)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)

Update docs and downstream make target (#751)
  Makefile
  docs/cr-example.md
  docs/downstream-releasing.md
  docs/generate-downstream.md
  docs/upstream-release-testing.md
  docs/upstream-releasing.md
  downstream-assets/bundle.Dockerfile.txt
Due: none

port downstream updates and transformations for v4.3.0
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-6852] update build commit (#714)
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

bump operator version and update ubi-micro
  Dockerfile
  bundle.Dockerfile
  go.mod
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

prune docs
  docs/downstream-konflux-flow.md
Due: none

cleanup tekton files
  .tekton/costmanagement-metrics-operator-bundle-pull-request.yaml
  .tekton/costmanagement-metrics-operator-bundle-push.yaml
  .tekton/costmanagement-metrics-operator-pull-request.yaml
  .tekton/costmanagement-metrics-operator-push.yaml
Due: none

[COST-5373] document downstream konflux flow (#527)
  docs/downstream-konflux-flow.md
Due: none

[COST-1385] Do not upload operator reports without a valid integration (#709)
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/suite_test.go
Due: none

[COST-6927] Add column descriptions for cost nvidia gpu metrics report (#735)
  docs/report-fields-description.md
Due: none

[COST-6926] gather nvidia gpu metrics for cost report (#728)
  Makefile
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib
  internal/collector/test_files/test_data/nvidia-gpu-utilization
  internal/collector/types.go
Due: none

[COST-6887] add whats new in v4.3.0 to CSV description (#743)
  docs/csv-description.md
Due: none

cleanup docs
  .tekton/costmanagement-metrics-operator-bundle-pull-request.yaml
  .tekton/costmanagement-metrics-operator-bundle-push.yaml
  .tekton/costmanagement-metrics-operator-pull-request.yaml
  .tekton/costmanagement-metrics-operator-push.yaml
  docs/downstream-konflux-flow.md
  docs/downstream-releasing.md
  docs/generate-downstream.md
  docs/upstream-release-testing.md
  docs/upstream-releasing.md
Due: none

bump operator version and update ubi-micro
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

update bundle
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

add deleted doc
  docs/docs/downstream-konflux-flow.md
Due: none

update build commit and bummp version
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

update build commit and bummp version (#766)
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

add release notes for version 4.3.0
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

add release notes for version 4.3.0 (#767)
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push
