Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-pr: ((((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-pr.yaml)) or (any of: Dockerfile)) or (any of: go.mod)) or (any of: go.sum)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)

COST-7484: handle honor_labels=true in DCGM PromQL queries (#947)
  internal/collector/queries.go
Due: none

[COST-7376] add whats new in v4.4.1 to CSV description
  docs/csv-description.md
Due: none

[COST-7376] add whats new in v4.4.1 to CSV description (#957)
  docs/csv-description.md
Due: none

[COST-7376] generate v4.4.1 upstream bundle
  Makefile
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

update renovate config
  renovate.json
Due: none

[COST-7376] generate v4.4.1 upstream bundle (#960)
  Makefile
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

addres validate-pr failure
  api/v1beta1/groupversion_info.go
  api/v1beta1/metricsconfig_types.go
Due: none

cover scheme registration for API
  api/v1beta1/groupversion_info_test.go
Due: none

[COST-7376] downstream updates for v4.4.1
  .claude/commands/check-branch.md
  .claude/commands/pre-pr.md
  .claude/commands/review.md
  .claude/commands/test.md
  .cursor/rules/collector.mdc
  .cursor/rules/controller.mdc
  .cursor/rules/crd.mdc
  .cursor/rules/testing.mdc
  .github/workflows/ci-manual.yaml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING
  Dockerfile
  Makefile
  README.md
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/architecture.md
  docs/csv-description.md
  docs/downstream-releasing.md
  docs/local-development.md
  docs/report-fields-description.md
  docs/upstream-releasing.md
  go.mod
  go.sum
  internal/collector/collector_test.go
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib
  internal/collector/test_files/test_data/nvidia-gpu-pod-uptime
  internal/collector/types.go
  vendor/github.com/go-openapi/jsonreference/.gitignore
  vendor/github.com/go-openapi/jsonreference/CONTRIBUTORS.md
  vendor/github.com/go-openapi/jsonreference/README.md
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/modules.txt
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

remove language_version from pre-commit config
  .pre-commit-config.yaml
Due: none

[COST-7376] downstream updates for v4.4.1 (#965)
  .claude/commands/check-branch.md
  .claude/commands/pre-pr.md
  .claude/commands/review.md
  .claude/commands/test.md
  .cursor/rules/collector.mdc
  .cursor/rules/controller.mdc
  .cursor/rules/crd.mdc
  .cursor/rules/testing.mdc
  .github/workflows/ci-manual.yaml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING
  Dockerfile
  Makefile
  README.md
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/architecture.md
  docs/csv-description.md
  docs/downstream-releasing.md
  docs/local-development.md
  docs/report-fields-description.md
  docs/upstream-releasing.md
  go.mod
  go.sum
  internal/collector/collector_test.go
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib
  internal/collector/test_files/test_data/nvidia-gpu-pod-uptime
  internal/collector/types.go
  vendor/github.com/go-openapi/jsonreference/.gitignore
  vendor/github.com/go-openapi/jsonreference/CONTRIBUTORS.md
  vendor/github.com/go-openapi/jsonreference/README.md
  vendor/github.com/prometheus/common/config/http_config.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/modules.txt
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

update build commit reference
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7668] exclude DeploymentConfig workloads from ros:image_workloads query
  internal/collector/queries.go
Due: none

address codecov failure
  .github/workflows/ci.yaml
Due: none

bump codecov-action
  .github/workflows/ci.yaml
Due: none

[COST-7668] exclude DeploymentConfig workloads from ros:image_workloads upstream query
  internal/collector/queries.go
Due: none

[COST-7668] exclude DeploymentConfig workloads from ros:image_workloads query (#974)
  .github/workflows/ci.yaml
  internal/collector/queries.go
Due: none

bump codecov-action (#975)
  .github/workflows/ci.yaml
Due: none

update docs and konflux triggers
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, downstream-operator-pr, downstream-operator-push

[COST-7668] exclude DeploymentConfig workloads from ros:image_workloads upstream query (#976)
  internal/collector/queries.go
Due: none

update docs and konflux triggers (#977)
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, downstream-operator-pr, downstream-operator-push

update build commit
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

fix api scheme registration for staticheck
  api/v1beta1/groupversion_info.go
  api/v1beta1/groupversion_info_test.go
  api/v1beta1/metricsconfig_types.go
Due: none

[COST-7287] Use dynamic API URL in error messages for on-prem deployments
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
Due: none

[COST-7287] Improve test coverage for dynamic URL error messages
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/url_formatting_test.go
Due: none

[COST-7287] Handle URLs without scheme in formatURLForDisplay
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/url_formatting_test.go
Due: none

Fix copyright year.
  internal/controller/url_formatting_test.go
Due: none

[COST-7287] Use dynamic API URL in error messages (#973)
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/url_formatting_test.go
Due: none

Enable SECRET_ABSPATH for local development and improve Makefile portability
  Makefile
  cmd/main.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/prometheus.go
  internal/controller/suite_test.go
Due: none

Refactor SecretPath: pass string directly instead of boolean flag
  cmd/main.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/prometheus.go
  internal/controller/suite_test.go
Due: none

Fix SecretPath initialization order in BeforeSuite
  internal/controller/suite_test.go
Due: none

Enable SECRET_ABSPATH for local development (#980)
  Makefile
  cmd/main.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/prometheus.go
  internal/controller/suite_test.go
Due: none

group Go dependency updates and add dependencies label
  renovate.json
Due: none

disable updates to go/toolchain directives so renovate never bumps Go version itself
  renovate.json
Due: none

Group Go dependency updates and add dependencies label (#989)
  renovate.json
Due: none

Add tar binary to container image for oc cp support
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push
