Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-pr: ((((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-pr.yaml)) or (any of: Dockerfile)) or (any of: go.mod)) or (any of: go.sum)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)

add required bundle labels
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

clean up description
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-6428] handle custom certs for proxy (#671)
  Makefile
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/crhchttp/config.go
  internal/crhchttp/http_cloud_dot_redhat.go
  internal/crhchttp/http_cloud_dot_redhat_test.go
Due: none

use ubi9-micro tag
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

COST-6518 update build commit
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

COST-6518 update build commit (#676)
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

COST-6518 update operator version
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

COST-6518 update operator version (#678)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

update build commit to c736197
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

update build commit to c736197 (#680)
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-6688] Update clamav-scan version to v0.3
  .tekton/bundle-build-pipeline.yaml
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-bundle-pr, downstream-operator-pr, downstream-operator-push

Update github.com/openshift/api digest to 3d5bf11
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/openshift/api/config/v1/register.go
  vendor/github.com/openshift/api/config/v1/types_apiserver.go
  vendor/github.com/openshift/api/config/v1/types_authentication.go
  vendor/github.com/openshift/api/config/v1/types_cluster_image_policy.go
  vendor/github.com/openshift/api/config/v1/types_cluster_operator.go
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/config/v1/types_console.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/config/v1/types_image.go
  vendor/github.com/openshift/api/config/v1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/types_ingress.go
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/types_node.go
  vendor/github.com/openshift/api/config/v1/types_operatorhub.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/golang.org/x/tools/internal/astutil/edge/edge.go
  vendor/modules.txt
Due: downstream-operator-pr

Update k8s.io/utils digest to 0af2bda
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/golang.org/x/tools/internal/astutil/edge/edge.go
  vendor/k8s.io/utils/net/multi_listen.go
  vendor/modules.txt
Due: downstream-operator-pr

Update sigs.k8s.io/json digest to 2d32026
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/golang.org/x/tools/internal/astutil/edge/edge.go
  vendor/modules.txt
  vendor/sigs.k8s.io/json/internal/golang/encoding/json/decode.go
  vendor/sigs.k8s.io/json/internal/golang/encoding/json/encode.go
  vendor/sigs.k8s.io/json/internal/golang/encoding/json/stream.go
Due: downstream-operator-pr

Update kubernetes packages to v0.33.4
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/golang.org/x/tools/internal/astutil/edge/edge.go
  vendor/modules.txt
Due: downstream-operator-pr

Update module google.golang.org/protobuf to v1.36.8
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/golang.org/x/tools/internal/astutil/edge/edge.go
  vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  vendor/google.golang.org/protobuf/internal/impl/presence.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/modules.txt
Due: downstream-operator-pr

Update module github.com/prometheus/procfs to v0.17.0
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/prometheus/procfs/Makefile.common
  vendor/github.com/prometheus/procfs/mdstat.go
  vendor/github.com/prometheus/procfs/meminfo.go
  vendor/github.com/prometheus/procfs/proc_stat.go
  vendor/github.com/prometheus/procfs/proc_statm.go
  vendor/golang.org/x/tools/internal/astutil/edge/edge.go
  vendor/modules.txt
Due: downstream-operator-pr

Update module golang.org/x/sync to v0.16.0
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/tools/internal/astutil/edge/edge.go
  vendor/modules.txt
Due: downstream-operator-pr

Update module golang.org/x/text to v0.28.0
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_loong64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/golang.org/x/tools/go/ast/inspector/typeof.go
  vendor/golang.org/x/tools/internal/astutil/edge/edge.go
  vendor/modules.txt
Due: downstream-operator-pr

Update module gopkg.in/evanphx/json-patch.v4 to v4.13.0
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/pkg/errors/.gitignore
  vendor/github.com/pkg/errors/.travis.yml
  vendor/github.com/pkg/errors/LICENSE
  vendor/github.com/pkg/errors/Makefile
  vendor/github.com/pkg/errors/README.md
  vendor/github.com/pkg/errors/appveyor.yml
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/go113.go
  vendor/github.com/pkg/errors/stack.go
  vendor/golang.org/x/tools/internal/astutil/edge/edge.go
  vendor/gopkg.in/evanphx/json-patch.v4/README.md
  vendor/gopkg.in/evanphx/json-patch.v4/patch.go
  vendor/modules.txt
Due: downstream-operator-pr

Update module sigs.k8s.io/yaml to v1.6.0
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/golang.org/x/tools/internal/astutil/edge/edge.go
  vendor/modules.txt
Due: downstream-operator-pr

Update module go.yaml.in/yaml/v2 to v3
  go.mod
Due: downstream-operator-pr

enable multi-arch support for clamav-scan task
  .tekton/bundle-build-pipeline.yaml
Due: downstream-operator-bundle-pr

add matrix to multi-arch build pipeline
  .tekton/bundle-build-pipeline.yaml
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-bundle-pr, downstream-operator-pr, downstream-operator-push

[COST-6688] update to clamav-scan v0.3 (#681)
  .tekton/bundle-build-pipeline.yaml
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-bundle-pr, downstream-operator-pr, downstream-operator-push

fix: update Makefile and improve documentation
  Makefile
  README.md
Due: none

update renovate config to keep only required managers
  renovate.json
Due: none

update renovate config to keep only required managers (#686)
  renovate.json
Due: none

fix: update Makefile and improve documentation (#685)
  Makefile
  README.md
Due: none

kustomize example poc
  Makefile
  testing-demo/base/cr.yaml
  testing-demo/base/kustomization.yaml
  testing-demo/components/air-gapped/cr.yaml
  testing-demo/components/air-gapped/kustomization.yaml
  testing-demo/components/service-account/cr.yaml
  testing-demo/components/service-account/kustomization.yaml
  testing-demo/components/service-account/sa.env
Due: none

undo makefile changes
  Makefile
Due: none
