Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-pr: ((((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-pr.yaml)) or (any of: Dockerfile)) or (any of: go.mod)) or (any of: go.sum)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)

cap renovate open PRs to at most 5
  renovate.json
Due: none

fix mig memory capacity query to use correct DCGM field labels
  internal/collector/queries.go
Due: none

fix unittests
  internal/collector/collector_test.go
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib-mig
Due: none

cap renovate open PRs to at most 5 (#897)
  renovate.json
Due: none

remove redundant pod/namespace labels from max by in nvidia gpu
  internal/collector/queries.go
Due: none

address feedback and cleanup
  internal/collector/queries.go
Due: none

fix unittests
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
Due: none

update report fields description doc
  docs/report-fields-description.md
Due: none

[COST-7234] add whats new in v4.4.0 to CSV description
  docs/csv-description.md
Due: none

[COST-7234] add whats new in v4.4.0 to CSV description (#904)
  docs/csv-description.md
Due: none

fix yq download target typo in Makefile
  Makefile
Due: none

[COST-7234] generate v4.4.0 upstream bundle
  Makefile
  bundle/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  config/manifests/bases/koku-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

clarify upstream release order in docs
  docs/upstream-releasing.md
Due: none

revert config/manifests base CSV to single line
  config/manifests/bases/koku-metrics-operator.clusterserviceversion.yaml
Due: none

[COST-7234] generate v4.4.0 upstream bundle (#906)
  Makefile
  bundle/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

initial docs to support agentic ai dev
  .claude/CLAUDE.md
  .cursor/.cursorrules
  CONTRIBUTING
  README.md
  docs/architecture.md
  docs/contributing.md
  docs/downstream-releasing.md
  docs/local-development.md
  docs/upstream-releasing.md
Due: none

cleanup link
  docs/csv-description.md
Due: none

address feedback
  internal/collector/queries.go
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib
Due: none

update build commit reference
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

more docs updates
  .claude/CLAUDE.md
  .claude/commands/check-branch.md
  .claude/commands/pre-pr.md
  .claude/commands/review.md
  .claude/commands/test.md
  .cursor/.cursorrules
  .cursor/rules/collector.mdc
  .cursor/rules/controller.mdc
  .cursor/rules/crd.mdc
  .cursor/rules/testing.mdc
  AGENTS.md
  CONTRIBUTING
  README.md
  docs/architecture.md
  docs/contributing.md
  docs/downstream-releasing.md
  docs/local-development.md
  docs/upstream-releasing.md
Due: none

remove dangling fragment
  README.md
Due: none

changes wrt to new ubuntu profile for ibm cloud
  .github/workflows/ci-manual.yaml
Due: none

changes wrt to new ubuntu profile for ibm cloud (#923)
  .github/workflows/ci-manual.yaml
Due: none

fix yq download target typo in Makefile (#905)
  Makefile
Due: none

[COST-7362] verify OLMv1 downstream
  .github/workflows/ci-manual.yaml
  Makefile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  cmd/main.go
  cmd/main_test.go
  config/manager/manager.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  go.mod
  go.sum
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/storage/storage.go
  vendor/github.com/fxamacker/cbor/v2/.golangci.yml
  vendor/github.com/fxamacker/cbor/v2/README.md
  vendor/github.com/fxamacker/cbor/v2/cache.go
  vendor/github.com/fxamacker/cbor/v2/decode.go
  vendor/github.com/fxamacker/cbor/v2/decode_map_utils.go
  vendor/github.com/fxamacker/cbor/v2/diagnose.go
  vendor/github.com/fxamacker/cbor/v2/encode.go
  vendor/github.com/fxamacker/cbor/v2/simplevalue.go
  vendor/github.com/fxamacker/cbor/v2/stream.go
  vendor/github.com/fxamacker/cbor/v2/structfields.go
  vendor/github.com/fxamacker/cbor/v2/valid.go
  vendor/github.com/openshift/api/config/v1/types.go
  vendor/github.com/openshift/api/config/v1/types_authentication.go
  vendor/github.com/openshift/api/config/v1/types_dns.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/golang.org/x/net/http/httpproxy/proxy.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/modules.txt
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, downstream-operator-pr

update references of 'KokuMetricsConfig' to 'CostManagementMetricsConfig' update nvidia_gpu_capacity_memory_mib_mig query
  docs/csv-description.md
  internal/collector/queries.go
Due: none

clarify upstream release order in docs (#907)
  docs/upstream-releasing.md
Due: none

update mig query and references of 'KokuMetricsConfig' to 'CostManagementMetricsConfig' (#933)
  docs/csv-description.md
  internal/collector/queries.go
Due: none

Add agentic docs (#916)
  .claude/commands/check-branch.md
  .claude/commands/pre-pr.md
  .claude/commands/review.md
  .claude/commands/test.md
  .cursor/rules/collector.mdc
  .cursor/rules/controller.mdc
  .cursor/rules/crd.mdc
  .cursor/rules/testing.mdc
  AGENTS.md
  CONTRIBUTING
  README.md
  docs/architecture.md
  docs/downstream-releasing.md
  docs/local-development.md
  docs/upstream-releasing.md
Due: none

Fix gpu_pod_uptime to report actual pod uptime and add gpu_pod_utilization
  docs/report-fields-description.md
  internal/collector/collector_test.go
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
  internal/collector/test_files/test_data/nvidia-gpu-pod-uptime
  internal/collector/types.go
Due: none

bump codecov and go versions
  .github/workflows/ci.yaml
  Dockerfile
  go.mod
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

bump codecov and go versions (#940)
  .github/workflows/ci.yaml
  Dockerfile
  go.mod
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

Fix gpu_pod_uptime to report actual pod uptime and add gpu_pod_utilization (#938)
  docs/report-fields-description.md
  internal/collector/collector_test.go
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
  internal/collector/test_files/test_data/nvidia-gpu-pod-uptime
  internal/collector/types.go
Due: none

[COST-7461] bump go version
  go.mod
Due: downstream-operator-pr

[COST-7461] bump go version (#946)
  go.mod
Due: downstream-operator-pr

COST-7484: handle honor_labels=true in DCGM PromQL queries
  internal/collector/queries.go
Due: none
