Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

downstream-operator-bundle-pr:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
  ...

downstream-operator-bundle-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator-bundle:{{revision}}
  - name: dockerfile
  ...

koku-metrics-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/koku-metrics-operator/koku-metrics-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: .
  ...

downstream-operator-pr:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

downstream-operator-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  ...

update build commit (#647)
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

update rpms lock file
  redhat.repo
  rpms.in.yaml
  rpms.lock.yaml
Due: none

trigger pipeline on changes to rpms and repo files
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-pr, downstream-operator-push

update activation key
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-pr, downstream-operator-push

[COST-6631] update column names in the ROS namespace report (#643)
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/ros-openshift-namespace-202011.csv
  internal/collector/types.go
Due: none

regenerate rpm lock file
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: none

clean up repo file
  ubi.repo
Due: none

update repo file and regenerate lock file for rpms
  rpms.lock.yaml
  ubi.repo
Due: none

fix activation key
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-pr, downstream-operator-push

switch activation key
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-pr, downstream-operator-push

use yum
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

use reposdir in invocation
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

remove erroring packages
  rpms.in.yaml
Due: none

cleanup dockerfile
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

use copy from ubi-micro-build
  Dockerfile
  rpms.in.yaml
  ubi.repo
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

add target base
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

clean up
  Dockerfile
  ubi.repo
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

Update Dockerfile and regenerate rpms lock file (#659)
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
  Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

build: bump Go version from 1.24.3 to 1.24.4
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

build: bump Go version from 1.24.3 to 1.24.4 (#663)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-6515] docs: add v4.1.0 release notes to csv description
  docs/csv-description.md
Due: none

[COST-6515] docs: add v4.1.0 release notes to csv description (#664)
  docs/csv-description.md
Due: none

[COST-6516] create release bundle for version v4.1.0
  .tekton/multi-arch-build-pipeline.yaml
  Makefile
  bundle.Dockerfile
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push

[COST-6516] create release bundle for version v4.1.0 (#665)
  .tekton/multi-arch-build-pipeline.yaml
  Makefile
  bundle.Dockerfile
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push

docs: Add descriptions for ROS namespace metrics report
  docs/report-fields-description.md
Due: none

cleanup
  docs/report-fields-description.md
Due: none

[COST-6668] Add descriptions for ROS namespace metrics report (#668)
  docs/report-fields-description.md
Due: none

Update Konflux references
  .tekton/bundle-build-pipeline.yaml
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-bundle-pr, downstream-operator-pr, downstream-operator-push

[COST-6428] use the default client
  internal/crhchttp/http_cloud_dot_redhat.go
Due: none

[COST-6428] fix validate_cert option
  .github/workflows/build-and-publish.yaml
  Dockerfile
  Makefile
  internal/crhchttp/http_cloud_dot_redhat.go
  internal/crhchttp/http_cloud_dot_redhat_test.go
  internal/packaging/packaging.go
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

fix unit test
  internal/crhchttp/http_cloud_dot_redhat.go
Due: none

Use build-arg and build flag for is-certified
  .github/workflows/build-and-publish.yaml
  Dockerfile
  Makefile
  internal/packaging/packaging.go
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

put back cert sed replace
  Makefile
Due: none

undo is-certified changes
  .github/workflows/build-and-publish.yaml
  Dockerfile
  Makefile
  internal/packaging/packaging.go
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

cleanup
  internal/crhchttp/http_cloud_dot_redhat.go
  internal/crhchttp/http_cloud_dot_redhat_test.go
Due: none

use the same client for requests
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/crhchttp/config.go
  internal/crhchttp/http_cloud_dot_redhat.go
  internal/crhchttp/http_cloud_dot_redhat_test.go
Due: none

clone the default instead of creating manual copy
  internal/crhchttp/http_cloud_dot_redhat.go
Due: none

fix test
  internal/crhchttp/http_cloud_dot_redhat_test.go
Due: none

[COST-6518] generate downstream code changes and bundle
  Makefile
  PROJECT
  api/v1beta1/groupversion_info.go
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/manager/manager.yaml
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/rbac/role.yaml
  config/scorecard/bases/config.yaml
  config/scorecard/kustomization.yaml
  config/scorecard/patches/basic.config.yaml
  config/scorecard/patches/olm.config.yaml
  config/webhook/service.yaml
  docs/csv-description.md
  docs/faq.md
  docs/generate-downstream.md
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/crhchttp/http_cloud_dot_redhat.go
  internal/packaging/packaging.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-pr: ((((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-pr.yaml)) or (any of: Dockerfile)) or (any of: go.mod)) or (any of: go.sum)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)
