Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

downstream-operator-bundle-pr:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
  ...

downstream-operator-bundle-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator-bundle:{{revision}}
  - name: dockerfile
  ...

koku-metrics-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/koku-metrics-operator/koku-metrics-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: .
  ...

downstream-operator-pr:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

downstream-operator-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  ...

[COST-7950] Bump ubi-micro and ubi base images to include acl fix
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-7950] Bump ubi-micro and ubi base images to include acl fix (#1035)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-7997] Restrict pull-secret token auth to approved RH API urls
  api/v1beta1/defaults.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/suite_test.go
  internal/controller/url_formatting_test.go
Due: none

clean up status message
  internal/controller/costmanagementmetricsconfig_controller.go
Due: none

dynamically set build commit (#1016)
  .github/workflows/update-bundle-commit.yaml
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  Dockerfile
  bundle.Dockerfile
  downstream-assets/bundle.Dockerfile.txt
  renovate.json
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

wait to support stage apis
  api/v1beta1/defaults.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/url_formatting_test.go
Due: none

clean up
  internal/controller/costmanagementmetricsconfig_controller.go
Due: none

[COST-7998] restrict prometheus service_address to in-cluster .svc urls
  internal/collector/prometheus.go
  internal/collector/prometheus_test.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/suite_test.go
Due: none

clean up comment
  internal/collector/prometheus.go
Due: none

Add CRD-configurable GPU namespace exclusion
  api/v1beta1/metricsconfig_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  config/manifests/bases/koku-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/suite_test.go
Due: none

[COST-7997] Restrict pull-secret token auth to approved RH API urls (#1043)
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/suite_test.go
  internal/controller/url_formatting_test.go
Due: none

[COST-7999] Validate token_url before posting service-account credentials
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/suite_test.go
  internal/controller/url_formatting_test.go
Due: none

update unit tests
  internal/controller/url_formatting_test.go
Due: none

restrict prometheus service_address to thanos-querier
  internal/collector/prometheus.go
  internal/collector/prometheus_test.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
Due: none

[COST-7998] Restrict prometheus service_address to in-cluster .svc urls (#1050)
  internal/collector/prometheus.go
  internal/collector/prometheus_test.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
Due: none

[COST-7999] Validate token_url before posting service-account credentials (#1051)
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/suite_test.go
  internal/controller/url_formatting_test.go
Due: none

[COST-8157] Bump ubi-micro and ubi base images (attr security fix)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

make manifests and verify-manifests
  config/crd/bases/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
Due: none

[COST-7814] downstream updates for v4.5.0
  Makefile
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  cmd/main.go
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
  docs/index.md
  docs/releasing/cve.md
  docs/releasing/downstream.md
  docs/releasing/start-here.md
  docs/releasing/upstream.md
  internal/collector/prometheus.go
  internal/collector/prometheus_test.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/prometheus.go
  internal/controller/suite_test.go
  internal/controller/url_formatting_test.go
  mkdocs.yml
  vendor/github.com/go-openapi/swag/jsonname/LICENSE
  vendor/github.com/go-openapi/swag/jsonname/doc.go
  vendor/github.com/go-openapi/swag/jsonname/go_name_provider.go
  vendor/github.com/go-openapi/swag/jsonname/ifaces.go
  vendor/github.com/go-openapi/swag/jsonname/name_provider.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/alias.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/jsontext/alias.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7814] Restore fips-compliant annotation in downstream CSV
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7814] Add NetworkPolicy RBAC for Conforma EC compliance
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/costmanagementmetricsconfig_controller.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7814] Scope NetworkPolicy RBAC to operator namespace
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/costmanagementmetricsconfig_controller.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-8196] Filter storage PVC joins to Bound persistent volumes
  internal/collector/queries.go
  internal/collector/queries_test.go
Due: none

[COST-8196] Assert PromQL structure in storage join regression test
  internal/collector/queries_test.go
Due: none

[COST-8196] Filter storage PVC PromQL joins to Bound persistent volumes (#1078)
  internal/collector/queries.go
  internal/collector/queries_test.go
Due: none

[COST-8089] Enable DEFAULT:PQ crypto policy in operator image
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-8089] Enable DEFAULT:PQ crypto policy in operator image (#1082)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-8233] Add RPM lockfile minimum EVR regression tests
  internal/rpms/lockfile.go
  internal/rpms/lockfile_test.go
  internal/rpms/testdata/openssl-below-minimum.lock.yaml
Due: none

[COST-8233] Raise RPM lockfile test coverage for codecov/patch
  internal/rpms/lockfile_test.go
  internal/rpms/testdata/empty-arches.lock.yaml
  internal/rpms/testdata/invalid.yaml
  internal/rpms/testdata/openssl-meets-minimum.lock.yaml
  internal/rpms/testdata/openssl-missing-package.lock.yaml
Due: none

[COST-8233] Use rpmvercmp for EVR version/release comparison
  internal/rpms/lockfile.go
  internal/rpms/lockfile_test.go
Due: none

[COST-8233] Add RPM lockfile minimum EVR regression tests (#1083)
  internal/rpms/lockfile.go
  internal/rpms/lockfile_test.go
  internal/rpms/testdata/empty-arches.lock.yaml
  internal/rpms/testdata/invalid.yaml
  internal/rpms/testdata/openssl-below-minimum.lock.yaml
  internal/rpms/testdata/openssl-meets-minimum.lock.yaml
  internal/rpms/testdata/openssl-missing-package.lock.yaml
Due: none

Revert "[COST-8233] Add RPM lockfile minimum EVR regression tests (#1083)"
  internal/rpms/lockfile.go
  internal/rpms/lockfile_test.go
  internal/rpms/testdata/empty-arches.lock.yaml
  internal/rpms/testdata/invalid.yaml
  internal/rpms/testdata/openssl-below-minimum.lock.yaml
  internal/rpms/testdata/openssl-meets-minimum.lock.yaml
  internal/rpms/testdata/openssl-missing-package.lock.yaml
Due: none

Revert "[COST-8233] Add RPM lockfile minimum EVR regression tests (#1083)" (#1084)
  internal/rpms/lockfile.go
  internal/rpms/lockfile_test.go
  internal/rpms/testdata/empty-arches.lock.yaml
  internal/rpms/testdata/invalid.yaml
  internal/rpms/testdata/openssl-below-minimum.lock.yaml
  internal/rpms/testdata/openssl-meets-minimum.lock.yaml
  internal/rpms/testdata/openssl-missing-package.lock.yaml
Due: none

[COST-7814] Fix CSV naming, add COST-8196 notes, NetworkPolicy RBAC
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  docs/csv-description.md
  internal/controller/costmanagementmetricsconfig_controller.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7814] Revert NetworkPolicy RBAC from release PR
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/costmanagementmetricsconfig_controller.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

Add devcontainer with k3d smoke-test cluster for Codespaces
  .devcontainer/Dockerfile
  .devcontainer/deploy-operator.sh
  .devcontainer/devcontainer.json
  .devcontainer/first-run-notice.txt
  .devcontainer/setup.sh
Due: none

Fix devcontainer base image tag (1.26-bookworm exists, 1-1.26-bookworm does not)
  .devcontainer/Dockerfile
Due: none

Fix oc download URL (use stable-OC_VERSION stream)
  .devcontainer/Dockerfile
Due: none

Devcontainer: GOTOOLCHAIN=auto, smoke test builds with vendored deps
  .devcontainer/deploy-operator.sh
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-pr: ((((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-pr.yaml)) or (any of: Dockerfile)) or (any of: go.mod)) or (any of: go.sum)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)
