Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

downstream-operator-bundle-pr:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
  ...

downstream-operator-bundle-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator-bundle:{{revision}}
  - name: dockerfile
  ...

koku-metrics-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/koku-metrics-operator/koku-metrics-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: .
  ...

downstream-operator-pr:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

downstream-operator-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  ...

Add CRD-configurable GPU namespace exclusion
  api/v1beta1/metricsconfig_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  config/manifests/bases/koku-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
Due: none

bump ubi-micro t0 9.8-1782363471
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

add sha digest to allow auto renovate updates
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

fix digest
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

use digest to pull the image on any supported architecture
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

remove indent
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

try using image digest
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

use versioned ubi images
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

fix registry
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

update registry and renovate matchPackageNames
  Dockerfile
  renovate.json
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-7461] Bump ubi-micro to 9.8-1782363471 (#1005)
  Dockerfile
  renovate.json
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-7781] Bump ubi-micro and ubi base images to include glibc fix
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-7781] Bump ubi-micro and ubi base images to include glibc fix (#1008)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

chore: port upstream changes to downstream for v4.4.2
  Dockerfile
  Makefile
  api/v1beta1/groupversion_info.go
  api/v1beta1/groupversion_info_test.go
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  cmd/main.go
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/prometheus.go
  internal/controller/suite_test.go
  internal/controller/url_formatting_test.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/prometheus/common/config/config.go
  vendor/github.com/prometheus/common/expfmt/text_create.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/github.com/prometheus/common/model/value_float.go
  vendor/github.com/prometheus/common/model/value_histogram.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/alias.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/arshal.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/arshal_any.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/arshal_default.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/arshal_funcs.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/arshal_inlined.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/arshal_methods.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/arshal_time.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/errors.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/fields.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/fold.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/intern.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/jsontext/alias.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

fix: use downstream version of openshift/api zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
Due: none

fix: pin containerImage to SHA256 digest to satisfy Enterprise Contract
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

chore: exclude cmd/main.go from codecov patch coverage
  codecov.yml
Due: none

add downstream-bundle target
  Makefile
Due: none

inject bundle commit ref dynamically via Tekton build-arg
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  downstream-assets/bundle.Dockerfile.txt
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

add downstream-bundle target (#1015)
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  Makefile
  downstream-assets/bundle.Dockerfile.txt
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

dynamically set build commit
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

downstream bundle for v4.4.2
  Makefile
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

use github action to update build commit in bundle dockerfile
  .github/workflows/update-bundle-commit.yaml
  Makefile
Due: none

skip non-nudge PRs
  .github/workflows/update-bundle-commit.yaml
Due: none

chore: bump version to 4.4.2 in Dockerfile
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

chore: use sha digest for image references in CSV
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

downstream bundle for v4.4.2 (#1017)
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

chore: set build commit ref for v4.4.2 bundle
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

use OPERATOR_BUILDER_COMMIT
  .github/workflows/update-bundle-commit.yaml
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  Makefile
  bundle.Dockerfile
  downstream-assets/bundle.Dockerfile.txt
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

drop platform flag
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

validate api_url against allowed urls for token auth
  api/v1beta1/defaults.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/suite_test.go
  internal/controller/url_formatting_test.go
Due: none

use image digest for golang builder
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

configure brew registry for renovate auto update
  renovate.json
Due: none

use ubi9/go-toolset as builder
  Dockerfile
  renovate.json
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

image tags are sufficient for renovate updates
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

docs: add operator Upstream/Downstream release runbooks (COST-7776)
  AGENTS.md
  README.md
  docs/architecture.md
  docs/downstream-releasing.md
  docs/index.md
  docs/releasing/cve.md
  docs/releasing/downstream.md
  docs/releasing/start-here.md
  docs/releasing/upstream.md
  docs/upstream-releasing.md
  mkdocs.yml
Due: none

docs: operator Upstream/Downstream release runbooks (COST-7776) (#1026)
  AGENTS.md
  README.md
  docs/architecture.md
  docs/downstream-releasing.md
  docs/index.md
  docs/releasing/cve.md
  docs/releasing/downstream.md
  docs/releasing/start-here.md
  docs/releasing/upstream.md
  docs/upstream-releasing.md
  mkdocs.yml
Due: none

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-pr: ((((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-pr.yaml)) or (any of: Dockerfile)) or (any of: go.mod)) or (any of: go.sum)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)
