Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-push

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)

update comment
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-push

cleanup dockerfile
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-push

fix typo
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-push

[COST-6085] Enable operator for FIPS compliance (#593)
  .tekton/operator-build-pipeline.yaml
  .tekton/operator-pr.yaml
  Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: koku-metrics-operator-on-push, downstream-operator-push

[COST-6085] toggle fips annotation true in operator csv
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

update docs with note on fips compliance
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-6085] toggle fips annotation true in operator csv (#606)
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

ignore go.mod and go.sum
  renovate.json
Due: none

ignore go.mod and go.sum (#619)
  renovate.json
Due: none

properly ignore go.mod & go.sum files and vendor dir
  renovate.json
Due: none

properly ignore go.mod & go.sum files and vendor dir (#631)
  renovate.json
Due: none

[COST-6402] exclude pod labels for non-running pods (#594)
  internal/collector/queries.go
Due: none

[COST-6562] - Rename ROS label
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
  docs/report-fields-description.md
  internal/collector/queries.go
  internal/collector/test_files/test_data/ros-namespace-filter
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/prometheus.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

fix query typos
  internal/collector/queries.go
Due: none

comments
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
  docs/report-fields-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

fixes
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-6562] - Rename ROS label (#633)
  docs/report-fields-description.md
  internal/collector/queries.go
  internal/collector/test_files/test_data/ros-namespace-filter
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/prometheus.go
Due: none

[COST-6491] Add ROS namespace queries
  Makefile
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/ros-openshift-namespace-202011.csv
  internal/collector/test_files/test_data/cpu-limit-namespace-sum
  internal/collector/test_files/test_data/cpu-request-namespace-sum
  internal/collector/test_files/test_data/cpu-throttle-namespace-avg
  internal/collector/test_files/test_data/cpu-throttle-namespace-max
  internal/collector/test_files/test_data/cpu-throttle-namespace-min
  internal/collector/test_files/test_data/cpu-usage-namespace-avg
  internal/collector/test_files/test_data/cpu-usage-namespace-max
  internal/collector/test_files/test_data/cpu-usage-namespace-min
  internal/collector/test_files/test_data/memory-limit-namespace-sum
  internal/collector/test_files/test_data/memory-request-namespace-sum
  internal/collector/test_files/test_data/memory-rss-usage-namespace-avg
  internal/collector/test_files/test_data/memory-rss-usage-namespace-max
  internal/collector/test_files/test_data/memory-rss-usage-namespace-min
  internal/collector/test_files/test_data/memory-usage-namespace-avg
  internal/collector/test_files/test_data/memory-usage-namespace-max
  internal/collector/test_files/test_data/memory-usage-namespace-min
  internal/collector/test_files/test_data/pods-running-namespace-avg
  internal/collector/test_files/test_data/pods-running-namespace-max
  internal/collector/test_files/test_data/pods-total-namespace-avg
  internal/collector/test_files/test_data/pods-total-namespace-max
  internal/collector/types.go
Due: none

update ros container file prefix
  internal/collector/collector.go
  internal/collector/test_files/expected_reports/ros-openshift-container-202011.csv
Due: none

address comments - fix typo in function name - add comment to get-token-and-cert cmd got make help - update local dev docs
  Makefile
  docs/local-development.md
  internal/collector/collector.go
Due: none

[COST-6579] update payload csv file names to reflect content
  internal/packaging/packaging.go
  internal/packaging/packaging_test.go
Due: none

[COST-6603] update golang builder image to 1.24
  Dockerfile
  go.mod
Due: koku-metrics-operator-on-push, downstream-operator-push

[COST-6579] update payload csv file names to reflect content (#636)
  internal/packaging/packaging.go
  internal/packaging/packaging_test.go
Due: none

[COST-6491] Add ROS namespace queries (#635)
  Makefile
  docs/local-development.md
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/ros-openshift-container-202011.csv
  internal/collector/test_files/expected_reports/ros-openshift-namespace-202011.csv
  internal/collector/test_files/test_data/cpu-limit-namespace-sum
  internal/collector/test_files/test_data/cpu-request-namespace-sum
  internal/collector/test_files/test_data/cpu-throttle-namespace-avg
  internal/collector/test_files/test_data/cpu-throttle-namespace-max
  internal/collector/test_files/test_data/cpu-throttle-namespace-min
  internal/collector/test_files/test_data/cpu-usage-namespace-avg
  internal/collector/test_files/test_data/cpu-usage-namespace-max
  internal/collector/test_files/test_data/cpu-usage-namespace-min
  internal/collector/test_files/test_data/memory-limit-namespace-sum
  internal/collector/test_files/test_data/memory-request-namespace-sum
  internal/collector/test_files/test_data/memory-rss-usage-namespace-avg
  internal/collector/test_files/test_data/memory-rss-usage-namespace-max
  internal/collector/test_files/test_data/memory-rss-usage-namespace-min
  internal/collector/test_files/test_data/memory-usage-namespace-avg
  internal/collector/test_files/test_data/memory-usage-namespace-max
  internal/collector/test_files/test_data/memory-usage-namespace-min
  internal/collector/test_files/test_data/pods-running-namespace-avg
  internal/collector/test_files/test_data/pods-running-namespace-max
  internal/collector/test_files/test_data/pods-total-namespace-avg
  internal/collector/test_files/test_data/pods-total-namespace-max
  internal/collector/types.go
Due: none

[COST-6603] update golang builder image to 1.24 (#638)
  Dockerfile
  go.mod
Due: koku-metrics-operator-on-push, downstream-operator-push

add prefetch-dev-package-managers-enabled param to operator-build pipeline
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-push

default to false
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-push

regenerate lock file
  rpms.in.yaml
  rpms.lock.yaml
Due: none

add prefetch-dev-package-managers-enabled param (#639)
  .tekton/operator-build-pipeline.yaml
  rpms.in.yaml
  rpms.lock.yaml
Due: downstream-operator-push

add params to operator push pipeline
  .tekton/operator-push.yaml
Due: downstream-operator-push

add params to operator push pipeline (#641)
  .tekton/operator-push.yaml
Due: downstream-operator-push

[COST-6631] update column names in the ROS namespace report
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/ros-openshift-namespace-202011.csv
  internal/collector/types.go
Due: none

trigger pipelines on updates to go.mod and go.sum files
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-push

trigger pipelines on updates to go.mod and go.sum files (#644)
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-push

update operator to 290a34c
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

update operator to 290a34c (#645)
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

update operator to 290a34c (#646)
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

update build commit
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push
