Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-push, koku-metrics-operator-on-push

downstream-operator-bundle-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator-bundle:{{revision}}
  - name: dockerfile
  ...

koku-metrics-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/koku-metrics-operator/koku-metrics-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: .
  ...

initial work to enable operator for FIPS mode
  Dockerfile
Due: koku-metrics-operator-on-push

use rhel_9_golang_1.24_test
  Dockerfile
Due: koku-metrics-operator-on-push

add strictfipsruntime tag to build
  Dockerfile
Due: koku-metrics-operator-on-push

temporarily use ubi9/ubi-minimal and build for arm & amd only
  .tekton/operator-pr.yaml
  Dockerfile
Due: koku-metrics-operator-on-push

update copy destination
  Dockerfile
Due: koku-metrics-operator-on-push

use GOEXPERIMENT set to strictfipsruntime
  Dockerfile
Due: koku-metrics-operator-on-push

clean up
  Dockerfile
Due: koku-metrics-operator-on-push

[COST-6402] exclude pod labels for non-running pods
  internal/collector/queries.go
Due: none

add openssl to the final ubi-micro image
  Dockerfile
Due: koku-metrics-operator-on-push

enable builds for ppc64le
  .tekton/operator-pr.yaml
Due: none

minimal base image with openssl included
  Dockerfile
Due: koku-metrics-operator-on-push

use RH activation keys to access subscription content
  .tekton/operator-build-pipeline.yaml
  .tekton/operator-pr.yaml
  Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
  ubi9.repo
Due: koku-metrics-operator-on-push

enable source rpm repos
  ubi9.repo
Due: none

add prefetch-input
  .tekton/operator-build-pipeline.yaml
  .tekton/operator-pr.yaml
Due: none

use basearch in repo id
  ubi9.repo
Due: none

Update module golang.org/x/sync to v0.15.0
  go.mod
  go.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Due: none

Update module gopkg.in/evanphx/json-patch.v4 to v5
  go.mod
Due: none

Update module sigs.k8s.io/structured-merge-diff/v4 to v6
  go.mod
Due: none

regenerate lock file
  .tekton/operator-build-pipeline.yaml
  .tekton/operator-pr.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi9.repo
Due: none

enable all packages
  rpms.in.yaml
Due: none

update renovate config
  renovate.json
Due: none

update renovate config (#603)
  renovate.json
Due: none

trigger pull request pipeline when build pipeline files change
  .tekton/bundle-pr.yaml
  .tekton/operator-pr.yaml
Due: none

trigger pull request pipeline when build pipeline files change (#604)
  .tekton/bundle-pr.yaml
  .tekton/operator-pr.yaml
Due: none

fix invalid input params for task apply-tags 0.2
  .tekton/bundle-build-pipeline.yaml
  .tekton/operator-build-pipeline.yaml
Due: none

trigger pipeline run when build pipeline files change
  .tekton/bundle-push.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-bundle-push

trigger pipeline run when build pipeline files change (#605)
  .tekton/bundle-push.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-bundle-push

fix codeready-builder form
  ubi9.repo
Due: none

enable source repos only
  ubi9.repo
Due: none

include all repo files
  redhat.repo
  rpms.in.yaml
  ubi.repo
Due: none

add gpg key
  Dockerfile
Due: koku-metrics-operator-on-push

start with single pkg
  rpms.in.yaml
Due: none

only add openssl pkg
  Dockerfile
Due: koku-metrics-operator-on-push

all pkgs needed for openssl
  Dockerfile
  rpms.in.yaml
Due: koku-metrics-operator-on-push

use dnf
  Dockerfile
Due: koku-metrics-operator-on-push

comment stageName
  Dockerfile
  rpms.in.yaml
Due: koku-metrics-operator-on-push

add all required deps
  Dockerfile
  rpms.in.yaml
Due: koku-metrics-operator-on-push

regenerate lock file
  Dockerfile
  rpms.lock.yaml
Due: koku-metrics-operator-on-push

enable rpms for all archs
  .tekton/operator-pr.yaml
  redhat.repo
  rpms.in.yaml
  rpms.lock.yaml
Due: none

use RH activation keys to access subscription content (#600)
  .tekton/bundle-build-pipeline.yaml
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  .tekton/operator-build-pipeline.yaml
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
  Dockerfile
  renovate.json
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: downstream-operator-bundle-push, koku-metrics-operator-on-push

Path conditions:
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
