Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-pr: ((((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-pr.yaml)) or (any of: Dockerfile)) or (any of: go.mod)) or (any of: go.sum)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)

generate downstream code changes for v4.3.0
  PROJECT
  api/v1beta1/groupversion_info.go
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/manager/manager.yaml
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/rbac/role.yaml
  config/scorecard/bases/config.yaml
  config/scorecard/kustomization.yaml
  config/scorecard/patches/basic.config.yaml
  config/scorecard/patches/olm.config.yaml
  config/webhook/service.yaml
  docs/csv-description.md
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/packaging/packaging.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

make downstream v3.3.0 (#361)
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/faq.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

update docs and fix make downstream (#364)
  costmanagement-metrics-operator/3.3.0/Dockerfile
  costmanagement-metrics-operator/3.3.0/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  costmanagement-metrics-operator/3.3.0/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  costmanagement-metrics-operator/3.3.0/metadata/annotations.yaml
Due: none

Merge downstream (#447)
  Dockerfile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  costmanagement-metrics-operator/3.3.0/Dockerfile
  costmanagement-metrics-operator/3.3.0/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  costmanagement-metrics-operator/3.3.0/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  costmanagement-metrics-operator/3.3.0/metadata/annotations.yaml
  docs/csv-description.md
  vendor/github.com/onsi/gomega/matchers/have_exact_elements.go
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/cmp.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortanyfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/timer.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-5554] Update downstream pipeline (#451)
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
  Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-5481 | COST-5533] Update go to 1.22.7 and move to ubi9 (#462)
  .tekton/operator-pr.yaml
Due: downstream-operator-pr

update pipelines (#480)
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, downstream-operator-pr, downstream-operator-push

[COST-5632] Cost Management Metrics Operator V3.3.2 updates (#478)
  .tekton/operator-pr.yaml
  Makefile
  vendor/github.com/onsi/gomega/matchers/have_exact_elements.go
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/cmp.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortanyfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/timer.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
Due: downstream-operator-pr

[COST-5632] Cost Management Metrics Operator v3.3.2 bundle updates (#487)
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-5373] document downstream konflux flow (#527)
  docs/downstream-konflux-flow.md
Due: none

pause s390x builds on pull requests (#524)
  .tekton/operator-pr.yaml
Due: downstream-operator-pr

Add serviceAccountName to taskRunTemplate in bundle and operator YAML files (#582)
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, downstream-operator-pr, downstream-operator-push

V4.0.0 merge downstream (#590)
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
  docs/downstream-konflux-flow.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, downstream-operator-pr, downstream-operator-push

Consolidate build pipelines (#592)
  .tekton/bundle-build-pipeline.yaml
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  .tekton/operator-build-pipeline.yaml
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, downstream-operator-pr, downstream-operator-push

update renovate config (#603)
  renovate.json
Due: none

trigger pull request pipeline when build pipeline files change (#604)
  .tekton/bundle-pr.yaml
  .tekton/operator-pr.yaml
Due: downstream-operator-bundle-pr, downstream-operator-pr

trigger pipeline run when build pipeline files change (#605)
  .tekton/bundle-push.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-bundle-push, downstream-operator-push

[COST-6085] Enable operator for FIPS compliance (#593)
  .tekton/operator-build-pipeline.yaml
  .tekton/operator-pr.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: downstream-operator-pr, downstream-operator-push

[COST-6085] toggle fips annotation true in operator csv (#606)
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
Due: none

properly ignore go.mod & go.sum files and vendor dir (#631)
  renovate.json
Due: none

ignore go.mod and go.sum (#619)
  renovate.json
Due: none

add params to operator push pipeline (#641)
  .tekton/operator-push.yaml
Due: downstream-operator-push

add prefetch-dev-package-managers-enabled param (#639)
  .tekton/operator-build-pipeline.yaml
  rpms.in.yaml
  rpms.lock.yaml
Due: downstream-operator-pr, downstream-operator-push

trigger pipelines on updates to go.mod and go.sum files (#644)
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-pr, downstream-operator-push

Update Dockerfile and regenerate rpms lock file (#659)
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: downstream-operator-pr, downstream-operator-push

[COST-6518] generate downstream changes and bundle (#674)
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
  vendor/go.yaml.in/yaml/v2/README.md
Due: none

update renovate config to keep only required managers (#686)
  renovate.json
Due: none

[COST-6688] update to clamav-scan v0.3 (#681)
  .tekton/bundle-build-pipeline.yaml
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-bundle-pr, downstream-operator-pr, downstream-operator-push

Properly disable gomod manager in renovate config (#721)
  renovate.json
Due: none

[COST-6852] update build commit (#714)
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

port downstream updates and transformations
  PROJECT
  api/v1beta1/groupversion_info.go
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/manager/manager.yaml
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/rbac/role.yaml
  config/scorecard/bases/config.yaml
  config/scorecard/kustomization.yaml
  config/scorecard/patches/basic.config.yaml
  config/scorecard/patches/olm.config.yaml
  config/webhook/service.yaml
  docs/csv-description.md
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/packaging/packaging.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-1385] Do not upload operator reports without a valid integration (#709)
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/suite_test.go
Due: none

[COST-6926] gather nvidia gpu metrics for cost report (#728)
  Makefile
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib
  internal/collector/test_files/test_data/nvidia-gpu-utilization
  internal/collector/types.go
Due: none

[COST-6927] Add column descriptions for cost nvidia gpu metrics report (#735)
  docs/report-fields-description.md
Due: none

[COST-6887] add whats new in v4.3.0 to CSV description (#743)
  docs/csv-description.md
Due: none
