Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

downstream-operator-bundle-pr:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
  ...

downstream-operator-bundle-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator-bundle:{{revision}}
  - name: dockerfile
  ...

koku-metrics-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/koku-metrics-operator/koku-metrics-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: .
  ...

downstream-operator-pr:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

downstream-operator-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/cost-mgmt-dev-tenant/costmanagement-metrics-operator/costmanagement-metrics-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  ...

update build commit
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

add dynamic commit
  .tekton/bundle-build-pipeline.yaml
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

update dynamic commit
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

add required labels
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

update url
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

d.r.h link updates and others
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
  docs/local-development.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

d.r.h link updates and others (#784)
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
  docs/local-development.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

synchronize manifests and bump golangci-lint to v2.8.0
  .pre-commit-config.yaml
  config/crd/bases/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
Due: none

update refs
  .tekton/bundle-build-pipeline.yaml
  .tekton/operator-build-pipeline.yaml
Due: downstream-operator-bundle-pr, downstream-operator-pr, downstream-operator-push

update name label to match derived_name
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

update name label to match derived_name (#846)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

add cpe label to container file
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

add cpe label to container file (#847)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-7231] add whats new in v4.3.1 to CSV description
  docs/csv-description.md
  vendor/golang.org/x/net/html/nodetype_string.go
  vendor/golang.org/x/net/http2/client_priority_go126.go
  vendor/golang.org/x/net/http2/client_priority_go127.go
  vendor/golang.org/x/net/internal/httpsfv/httpsfv.go
  vendor/golang.org/x/text/unicode/bidi/tables17.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables17.0.0.go
Due: none

[COST-7231] generate v4.3.1 upstream bundle
  Makefile
  bundle/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7232] bump go to version 1.25
  Dockerfile
  go.mod
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

update toolchain directive
  go.mod
Due: downstream-operator-pr

[COST-7231] generate v4.3.1 upstream bundle (#856)
  Makefile
  bundle/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7232] generate downstream code changes for v4.3.1
  Makefile
  PROJECT
  api/v1beta1/groupversion_info.go
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/manager/manager.yaml
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/rbac/role.yaml
  config/scorecard/bases/config.yaml
  config/scorecard/kustomization.yaml
  config/scorecard/patches/basic.config.yaml
  config/scorecard/patches/olm.config.yaml
  config/webhook/service.yaml
  docs/csv-description.md
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/packaging/packaging.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

address failing unittest ci
  Makefile
  internal/controller/costmanagementmetricsconfig_controller_test.go
Due: none

update tool versions to address failing unit tests ci
  Makefile
  config/crd/bases/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
  internal/controller/costmanagementmetricsconfig_controller_test.go
Due: none

bump operator version in dockerfile
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

bump operator version in dockerfile (#862)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

update tooling to address failing unit tests ci
  Makefile
  config/crd/bases/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
Due: none

dynamically deriving ENVTEST_K8S_VERSION
  Makefile
Due: none

update tooling to address failing unit tests ci (#871)
  Makefile
  config/crd/bases/costmanagement-metrics-cfg.openshift.io_costmanagementmetricsconfigs.yaml
Due: none

[COST-7186] TLS profile consistency enhancement
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/collector/prometheus.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/prometheus.go
  internal/controller/suite_test.go
  internal/crhchttp/config.go
  internal/crhchttp/http_cloud_dot_redhat.go
  internal/crhchttp/http_cloud_dot_redhat_test.go
  internal/tlsprofile/tlsprofile.go
  vendor/github.com/openshift/api/config/v1/types_tlssecurityprofile.go
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: downstream-operator-pr

add apiserver crd to test fixtures for tls profile tests
  internal/controller/test_files/crds/config.openshift.io_apiservers.yaml
Due: none

update unit tests
  internal/collector/collector_test.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
  internal/collector/test_files/test_data/nvidia-gpu-max-slices
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib
  internal/collector/test_files/test_data/nvidia-gpu-utilization
Due: none

bump unittests
  internal/collector/collector.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
  internal/collector/test_files/test_data/nvidia-gpu-max-slices
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib
  internal/collector/test_files/test_data/nvidia-gpu-utilization
  internal/collector/types.go
Due: none

source vendor name from device and update unittests
  internal/collector/collector_test.go
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
Due: none

separate MIG memory capacity query to properly merge results
  internal/collector/collector.go
  internal/collector/collector_test.go
  internal/collector/queries.go
  internal/collector/test_files/expected_reports/cm-openshift-nvidia-gpu-usage-202011.csv
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib-mig
  internal/collector/test_files/test_data/nvidia-gpu-memory-capacity-mib-non-mig
Due: none

cleanup query
  internal/collector/queries.go
Due: none

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-pr: ((((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-pr.yaml)) or (any of: Dockerfile)) or (any of: go.mod)) or (any of: go.sum)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)
