Repository project-koku/koku-metrics-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

Path conditions:
  downstream-operator-bundle-pr: ((((any of: .tekton/bundle-build-pipeline.yaml) or (any of: .tekton/bundle-pr.yaml)) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  downstream-operator-bundle-push: (((any of: .tekton/bundle-push.yaml) or (any of: bundle/metadata/***)) or (any of: bundle/manifests/***)) or (any of: bundle.Dockerfile)
  koku-metrics-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/koku-metrics-operator-pull-request.yaml)) or (any of: .tekton/koku-metrics-operator-push.yaml)) or (any of: Dockerfile)) or (any of: koku-metrics-operator)
  downstream-operator-pr: ((((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-pr.yaml)) or (any of: Dockerfile)) or (any of: go.mod)) or (any of: go.sum)
  downstream-operator-push: ((any of: .tekton/operator-build-pipeline.yaml) or (any of: .tekton/operator-push.yaml)) or (any of: Dockerfile)

Devcontainer: drop static KUBEBUILDER_ASSETS, Makefile resolves it
  .devcontainer/devcontainer.json
Due: none

Devcontainer: apply SA into selected namespace, fix smoke-test wording
  .devcontainer/deploy-operator.sh
  .devcontainer/first-run-notice.txt
Due: none

chore: add devcontainer for GitHub Codespaces with k3d smoke-test cluster (#1085)
  .devcontainer/Dockerfile
  .devcontainer/deploy-operator.sh
  .devcontainer/devcontainer.json
  .devcontainer/first-run-notice.txt
  .devcontainer/setup.sh
Due: none

[COST-7937] Stream ingress upload body via io.Pipe instead of buffering
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/crhchttp/http_cloud_dot_redhat.go
  internal/crhchttp/http_cloud_dot_redhat_test.go
Due: none

fix: restore bundle validate in downstream target and fix v4.0.0 API rename text
  Makefile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7937] Stream ingress upload body via io.Pipe instead of buffering (#1086)
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/crhchttp/http_cloud_dot_redhat.go
  internal/crhchttp/http_cloud_dot_redhat_test.go
Due: none

[COST-7725] add what's new in v4.5.0 to CSV description
  docs/csv-description.md
Due: none

[COST-7725] add what's new in v4.5.0 to CSV description (#1090)
  docs/csv-description.md
Due: none

[COST-8226] Bump ubi-micro and ubi base images (coreutils security fix)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-8226] Bump ubi-micro and ubi base images (coreutils security fix) (#1091)
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

[COST-7725] generate v4.5.0 upstream bundle
  Makefile
  bundle.Dockerfile
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/koku-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7814] Document COST-8226 coreutils base image fix in New in v4.5.0
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7725] generate v4.5.0 upstream bundle (#1092)
  Makefile
  bundle.Dockerfile
  bundle/manifests/koku-metrics-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/koku-metrics-operator.clusterserviceversion.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7814] Document COST-7937 streaming upload in New in v4.5.0
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7814] Address review: New in accuracy and source URL
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7814] Address David review: FIPS note, latest docs, Dockerfile
  Dockerfile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

docs: add Downstream post-port checklist (FIPS, latest, Dockerfile)
  docs/releasing/downstream.md
Due: none

[COST-7814] downstream updates for v4.5.0 (#1070)
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle/manifests/costmanagement-metrics-operator.clusterserviceversion.yaml
  cmd/main.go
  config/manifests/bases/costmanagement-metrics-operator.clusterserviceversion.yaml
  docs/csv-description.md
  docs/index.md
  docs/releasing/cve.md
  docs/releasing/downstream.md
  docs/releasing/start-here.md
  docs/releasing/upstream.md
  internal/collector/prometheus.go
  internal/collector/prometheus_test.go
  internal/collector/queries.go
  internal/collector/queries_test.go
  internal/controller/costmanagementmetricsconfig_controller.go
  internal/controller/costmanagementmetricsconfig_controller_test.go
  internal/controller/prometheus.go
  internal/controller/suite_test.go
  internal/controller/url_formatting_test.go
  internal/crhchttp/http_cloud_dot_redhat.go
  internal/crhchttp/http_cloud_dot_redhat_test.go
  mkdocs.yml
  vendor/github.com/go-openapi/swag/jsonname/LICENSE
  vendor/github.com/go-openapi/swag/jsonname/doc.go
  vendor/github.com/go-openapi/swag/jsonname/go_name_provider.go
  vendor/github.com/go-openapi/swag/jsonname/ifaces.go
  vendor/github.com/go-openapi/swag/jsonname/name_provider.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/alias.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/jsontext/alias.go
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

chore: retrigger downstream operator build for nudge
  Dockerfile
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

chore: make vendor + retrigger downstream operator build for nudge
  Dockerfile
  vendor/github.com/go-openapi/swag/jsonname/LICENSE
  vendor/github.com/go-openapi/swag/jsonname/doc.go
  vendor/github.com/go-openapi/swag/jsonname/go_name_provider.go
  vendor/github.com/go-openapi/swag/jsonname/ifaces.go
  vendor/github.com/go-openapi/swag/jsonname/name_provider.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/alias.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/jsontext/alias.go
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

chore: make vendor + retrigger downstream operator build for nudge (#1097)
  Dockerfile
  vendor/github.com/go-openapi/swag/jsonname/LICENSE
  vendor/github.com/go-openapi/swag/jsonname/doc.go
  vendor/github.com/go-openapi/swag/jsonname/go_name_provider.go
  vendor/github.com/go-openapi/swag/jsonname/ifaces.go
  vendor/github.com/go-openapi/swag/jsonname/name_provider.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/alias.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/jsontext/alias.go
Due: koku-metrics-operator-on-push, downstream-operator-pr, downstream-operator-push

chore: set build commit ref for v4.5.0 bundle
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

chore: set OPERATOR_BUILDER_COMMIT to nudge image rev
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

chore: set OPERATOR_BUILDER_COMMIT to v4.5.0 content merge
  bundle.Dockerfile
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push

[COST-7814] Prefetch gomod so staging EC gets Hermeto attribution
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-pr, downstream-operator-push

[COST-7814] Prefetch gomod so staging EC gets Hermeto attribution (#1099)
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-pr, downstream-operator-push

[COST-7814] Document Downstream/Upstream release lessons from 4.5.0
  docs/releasing/downstream.md
  docs/releasing/start-here.md
  docs/releasing/upstream.md
Due: none

[COST-7814] Drop status wording from start-here 4.5.0 example
  docs/releasing/start-here.md
Due: none

[COST-7814] Clarify FBC QE needs Succeeded stage Releases
  docs/releasing/downstream.md
Due: none

[COST-8343] Pin buildah-format docker on operator and bundle builds
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, downstream-operator-pr, downstream-operator-push

Remove COST-8343 comments from PipelineRun pins
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, downstream-operator-pr, downstream-operator-push

[COST-8343] Pin buildah-format docker on operator and bundle builds (#1105)
  .tekton/bundle-pr.yaml
  .tekton/bundle-push.yaml
  .tekton/operator-pr.yaml
  .tekton/operator-push.yaml
Due: downstream-operator-bundle-pr, downstream-operator-bundle-push, downstream-operator-pr, downstream-operator-push
